<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tipsy.app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pastille"
        android:logo="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.tipsy.app.TipsyApp"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.White"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".help.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".signup.TypeSignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.tipsy.app.membre.MembreActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.tipsy.app.membre.wallet.WalletActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".membre.MembreActivity" />

        </activity>

        <activity
            android:name="com.tipsy.app.membre.bracelet.BraceletActivity"
            android:label="">

        </activity>

        <activity
            android:name="com.tipsy.app.membre.event.EventMembreActivity"
            android:label=""></activity>

        <activity
            android:name="com.tipsy.app.orga.OrgaActivity"
            android:label="">

        </activity>

        <activity
            android:name="com.tipsy.app.orga.event.EventOrgaActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden">

        </activity>

        <activity
            android:name=".orga.entree.stats.ModeStatsActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".orga.entree.qrcode.ModeQRCodeActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".orga.entree.liste.ModeListeActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".orga.entree.vente.ModeVenteActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".orga.bar.BarActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".orga.vestiaire.in.ModeInActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".orga.vestiaire.out.ModeOutActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>